@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  background-color: #f4f4f4;
  font-family: "Manrope";
}

.bg-primary {
  background-color: #008cff;
}

.text-primary {
  color: #008cff;
}

@theme {
  --breakpoint-xs: 575px;
}

input,
textarea {
  outline: none;
  background: #f4f4f4;
  border: 1px solid #008cff;
}