@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  background-color: #f4f4f4;
  font-family: "Manrope";
}

.bg-primary {
  background-color: #008cff;
}

.text-primary {
  color: #008cff;
}

@theme {
  --breakpoint-xs: 575px;
}

input,
textarea {
  outline: none;
  background: #f4f4f4;
  border: 1px solid #008cff;
}

/* STICKY NAVBAR ANIMATION */
.popup {
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
html {
  scroll-behavior: smooth;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
